<div class="container mt-5">
  <h2 class="text-center font-title">Gastos</h2>
  <div class="card">
    <div class="card-body">
      <div class="row">

        <div class="col-lg-6 col-md-6 col-sm-6">
          <app-ingresar-gastos></app-ingresar-gastos>
        </div>

        <div class="col-lg-6 col-md-6 col-sm-6">
          <app-listar-gastos></app-listar-gastos>
        </div>

      </div>
    </div>

    <div class="row">
      <div class="col-lg-3 col-md-6 col-sm-12">
        <button class="btn btn-secondary mx-3 mb-2 " (click)="volverInicio()">VOLVER ATRÁS</button>
      </div>
    </div>

  </div>

</div>
